<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>kxw</display-name>
      <!-- 配置多个文件 -->
  <context-param>
  <param-name>contextConfigLocation</param-name>
  <param-value>/WEB-INF/conf/spring/applicationContext.xml</param-value>
  </context-param>
  <!-- 配置spring的监听 -->
  <listener>
  <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <!-- struts2配置 -->
   <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    	<init-param>
    	<param-name>config</param-name>
    	<param-value>struts-default.xml,struts-plugin.xml,../conf/struts/struts.xml</param-value>
    	</init-param>
    </filter>

    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>*.action</url-pattern>
        <!-- 加上*.jsp防止出现The Struts dispatcher cannot be found的问题 -->
         <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <!-- dwr配置 -->
     <servlet>
    <servlet-name>dwr-invoker</servlet-name>
    <servlet-class> org.directwebremoting.servlet.DwrServlet </servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>activeReverseAjaxEnabled</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>crossDomainSessionSecurity</param-name>
      <param-value>false</param-value>
    </init-param>
    <!-- dwr.xml配置地址 -->
    <init-param>
    <param-name>config</param-name>
    <param-value>/WEB-INF/conf/dwr/dwr.xml</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>dwr-invoker</servlet-name>
    <url-pattern>/dwr/*</url-pattern>
  </servlet-mapping>
  <!-- 验证码servlet -->
  <servlet>
  <servlet-name>validationCode</servlet-name>
  <servlet-class>kxw.com.action.servlet.ValidationCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>validationCode</servlet-name>
  <url-pattern>/validationCode</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>